Django-Select2
Pillow
Unidecode
South
argparse
beautifulsoup4
django-classy-tags
django-cms
django-filer
django-mptt
django-polymorphic
django-sekizai
djangocms-admin-style
djangocms-text-ckeditor
djangocms-bootstrap3
easy-thumbnails
html5lib
jsonfield
pyflakes
six
django-reversion
