Django
Pillow
Unidecode
beautifulsoup4
django-classy-tags
django-cms
django-filer
django-mptt
django-polymorphic
django-sekizai
django-select2
djangocms-admin-style
djangocms-text-ckeditor
easy-thumbnails
html5lib
jsonfield
six
wsgiref
