*.log
*.pot
*.pyc
.project
.pydevproject
.settings
.coverage
.DS_Store
.sass-cache
.cache
*.db
*.egg-info
.eggs
.tox
build
env*
dist
htmlcov
bower_components/
node_modules/
workdir/
filer_public/
filer_public_thumbnails/
