.idea
*.log
*.pot
*.pyc
.project
.pydevproject
.settings
.coverage
.DS_Store
.sass-cache
.cache
.pytest_cache
*.db
*.egg-info
.eggs
.tox
build
env*
dist
htmlcov
cmsplugin_cascade/static/cascade/admin/bootstrap5/js/formset-extensions.js*
cmsplugin_cascade/static/cascade/admin/bootstrap5/js/formset/*
cmsplugin_cascade/static/cascade/css/*.css
cmsplugin_cascade/static/cascade/css/*.css.map
node_modules/
workdir/
.venv
package-lock.json
poetry.lock
