include LICENSE-MIT
include README.md
include setup.py
recursive-include bower_components *
recursive-include cmsplugin_cascade/static *
recursive-include cmsplugin_cascade/templates *
recursive-include cmsplugin_cascade *.py
