Django==1.6.8
Django-Select2==4.2.2
MarkupSafe==0.18
Pillow==2.6.1
Pygments==1.6
South==1.0.1
Sphinx==1.2.2
Unidecode==0.04.16
argparse==1.2.1
beautifulsoup4==4.3.2
django-classy-tags==0.5.1
django-cms==3.0.6
django-filer==0.9.8
django-mptt==0.6.1
django-polymorphic==0.6
django-reversion==1.8.0
django-sekizai==0.7
django-treebeard==2.0
djangocms-admin-style==0.2.2
djangocms-text-ckeditor==2.4.1
easy-thumbnails==2.2
html5lib==0.999
jsonfield==1.0.0
wsgiref==0.1.2
