{% extends "bs3demo/base.html" %}
{% load static cms_tags bootstrap_tags sekizai_tags sass_tags %}

{% block head %}
{% addtoblock "css" %}<link rel="stylesheet" href="{% sass_src 'bs3demo/css/main.scss' %}" type="text/css" />{% endaddtoblock %}
{% endblock head %}

{% block header %}
	{% if DJANGO_CLIENT_FRAMEWORK == 'angular-ui' %}
		{% include "bootstrap/includes/ng-nav-navbar.html" with navbar_classes="navbar-default navbar-static-top" %}
	{% else %}
		{% include "bootstrap/includes/nav-navbar.html" with navbar_classes="navbar-default navbar-static-top" %}
	{% endif %}
{% endblock header %}

{% block main %}{% placeholder "Main Content" or %}
<div class="container">
	<div class="row starter-template">
		<div class="col-xs-12">
			<h1>Add Bootstrap container here</h1>
			<p class="lead">Use this placeholder as a quick way to start editing a new CMS page.</p>
			<p>All you have to do is to append <code>?edit</code> to the URL, switch to “Structure” mode
			and add a <strong>Bootstrap Container Plugin</strong> or <strong>Jumbotron Plugin</strong>.</p>
		</div>
	</div>
</div>
{% endplaceholder %}{% endblock main %}
