form input, form textarea { padding: 3px 5px; }
form input:disabled, form textarea:disabled { color: #888; }
form .form-row.field-link_type { min-height: 50px; }
form .form-row.field-link_type .field-box label.inline,
	form .form-row .field-box.field-save_as_identifier label.inline { width: 0; }
form .form-row.field-link_type .field-box input { height: 25px; margin-top: 0; }
form .form-row.field-link_type .field-box .help { margin-left: 2em; padding-left: 0; }
form .field-box label.inline { text-align: right; }
form .field-glossary { padding: 0; }
form .field-glossary .glossary-widget { border-bottom: 1px solid #f3f3f3; padding: 8px 12px; }
form .glossary-widget h1 { clear: both; margin: 8px 0 4px; font-size: 120%; }
form .glossary-widget label { width: inherit; padding-left: 10px; }
form .glossary-widget small { margin-left: 0; }
form .glossary-widget .field-box.disabled { color: #aaa; }
form .container-thumbnail { text-align: center; }
form .container-thumbnail i[class^="icon"] { font-size: 70px; }
form .glossary_button-type .field-box { margin-right: 10px; }
form .glossary_button-size .button-samples { min-height: 100px; max-width: 100px; }
form .glossary_button-type .btn, .glossary_button-size .btn { margin-bottom: 5px; }
form .glossary-widget ul { margin-left: 0; padding-left: 0; }
form .glossary-widget ul li { list-style: none; float: left; min-width: 95px; }
form .glossary-widget ul.errorlist li { float: none; }
form .glossary-widget div.sibling-field { float: left;  margin-left: 20px; }
form .glossary-widget div.sibling-field:first-child { margin-left: 0; }
form .glossary-widget div.sibling-field input { width: 95px; margin: 0; }
form .glossary-widget h4 { margin-top: 10px !important; margin-bottom: 10px !important; }
form .glossary-widget input[type="radio"], #cascadeelement_form input[type="checkbox"] { margin: 0 4px 0 0; }
form .glossary-box { zoom:1; }
form .glossary-box:after { content: ""; display: table; clear: both; }
