lxml 
#lxml==3.5.0
pluggy==0.12.0
py==1.8.0
pytest==4.5.0
pytest-django==3.5.0
tox==3.13.1
virtualenv==13.1.2
django-reversion==3.0.3
factory-boy==2.12.0
pytest-factoryboy==2.0.3
#https://github.com/jrief/django-entangled/archive/develop.zip
https://github.com/haricot/django-entangled/archive/nested_modif.zip
