{% load page_url from cascade_tags %}{% load finder_tags %}{% spaceless %}
{% if attrs.cms_page %}
<a href="{% page_url attrs.cms_page attrs.anchor %}">{% include "richtext/mark.html" %}</a>
{% elif attrs.href %}
<a href="{{ attrs.href }}" rel="external">{% include "richtext/mark.html" %}</a>
{% elif attrs.mail_to %}
<a href="mailto:{{ attrs.mail_to }}">{% include "richtext/mark.html" %}</a>
{% elif attrs.phone_number %}
<a href="tel:{{ attrs.phone_number }}">{% include "richtext/mark.html" %}</a>
{% elif attrs.download_file %}
<a href="{% download_url attrs.download_file %}" download>{% include "richtext/mark.html" %}</a>
{% endif %}
{% endspaceless %}