{% extends "admin/cms/usersettings/change_form.html" %}
{% load admin_static admin_urls i18n %}

{% block field_sets %}
	<h1>{{ plugin_title }}</h1>
	{{ plugin_intro }}
	{% if empty_form %}
<div class="module">
	<h2>{% trans "There are no further settings for this plugin" %}</h2>
	<p>{% trans "Please hit OK to save." %}</p>
</div>
	{% else %}
	{{ block.super }}
	{% endif %}
	{{ plugin_footnote }}
{% endblock %}

{% block after_field_sets %}
	{{ block.super }}
	<script type="text/javascript">
	django.cascade = django.cascade || {};
	django.cascade.sharable_fields = {{ sharable_fields|default:"[]" }};
	django.cascade.base_plugins = "[{{ base_plugins|join:", " }}]";
	django.cascade.page_sections_url = "{% url 'admin:get_page_sections' %}";
	</script>
{% endblock %}
