// include this file when using a fixed header
// this header moved down, whenever one clicks on the CMS toolbar

#header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $zindex-navbar;

	.cms-toolbar-expanded & {
		top: 45px;
	}
}
