@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";

// configure the font include pathes
$icon-font-path: unquote(get-setting(NODE_MODULES_URL) + "bootstrap-sass/assets/fonts/bootstrap/");

// footer
$body-footer-height: 200px;
$body-footer-color: $navbar-inverse-color;
$body-footer-bg: $navbar-inverse-bg;
$body-footer-border: $navbar-inverse-border;
