.badge-ribbon {
 position: relative;
 background: lightgrey;
 font-size: 50px;
 height: 100px;
 width: 100px;
 -moz-border-radius:    50px;
 -webkit-border-radius: 50px;
 border-radius:         50px;
 text-align: center;
 padding-top: 12px;
 margin-bottom: 40px;
 &:before, &:after {
  content: '';
  position: absolute;
  border-bottom: 70px solid lightgrey;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  top: 90px;
  left: -10px;
  -webkit-transform: rotate(-150deg);
  -moz-transform:    rotate(-150deg);
  -ms-transform:     rotate(-150deg);
  -o-transform:      rotate(-150deg);
 }
 &:after {
  left: auto;
  right: -10px;
  -webkit-transform: rotate(150deg);
  -moz-transform:    rotate(150deg);
  -ms-transform:     rotate(150deg);
  -o-transform:      rotate(150deg);
 }
}
