{% extends change_form_template|default:"admin/cms/usersettings/change_form.html" %}
{% load admin_static %}

{% block extrastyle %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap-theme.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/djangocms-cascade.css" %}" />
{% endblock extrastyle %}
