{% load cms_tags sekizai_tags %}

<!doctype html>
<html lang="de">
	<head>
		<title>{% block title %}Page Title{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% block meta-description %}{% endblock %}" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		{% render_block "css" %}
	</head>

{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" media="screen" />{% endaddtoblock %}
{% addtoblock "js" %}<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" type="text/javascript"></script>{% endaddtoblock %}

<!--[if IE 8 ]> <body class="ie ie8 preload"> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 preload"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body class="preload"> <!--<![endif]-->
	{% cms_toolbar %}
	<article id="wrap">
		{% block sections %}{% endblock %}
	</article>
	<footer id="footer">
		<div class="container">
			<p class="text-muted">Place sticky footer content here.</p>
		</div>
	</footer>
	{% render_block "js" %}
	</body>
</html>
