{% extends "bs4demo/base.html" %}
{% load static cms_tags bootstrap_tags sekizai_tags sass_tags %}

{% block head %}
{% addtoblock "css" %}
<link rel="stylesheet" href="{% sass_src 'bs4demo/css/main.scss' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'node_modules/sal.js/dist/sal.css' %}" type="text/css" />
{% endaddtoblock %}

{% endblock head %}

{% block header %}

{% static_placeholder 'Header Content' %}
{% if request.toolbar and request.toolbar.edit_mode_active %}
{% addtoblock "js" %}
<script> 
//Move static_placeholder "Header Content" as first-child in structure ui
function static_placeholder_menu_gofirstchild(){
if ($(".cms-structure-content").is(':empty') || $(".cms-dragbar-title[title='Header Content']") && !$(".cms-dragbar-title[title='Header Content']").parent().parent().is(':first-child') ) {
$(".cms-dragbar-title[title='Header Content']").parent().parent().prependTo(".cms-structure-content");}
}

$(document).ready(function(){
var observer = new MutationObserver(function(e) {static_placeholder_menu_gofirstchild();});
observer.observe($('.cms-structure-content')[0], { childList: true});
});
</script>
{% endaddtoblock %}
{% endif %}

{% if cms_version >= "3.5.0" and request.toolbar  %}
{% endif %}

{% endblock header %}

{% block main %}{% placeholder "Main Content" or %}
<div class="container">
	<div class="row starter-template">
		<div class="col-12">
			<h1>Add Bootstrap container here</h1>
			<p class="lead">Use this placeholder as a quick way to start editing a new CMS page.</p>
			<p>All you have to do is to append <code>?edit</code> to the URL, switch to “Structure” mode
			and add a <strong>Bootstrap Container Plugin</strong> or <strong>Jumbotron Plugin</strong>.</p>
		</div>
	</div>
</div>
{% endplaceholder %}{% endblock main %}
