{% load cms_tags sekizai_tags %}

<!doctype html>
<html lang="de">
	<head>
		<title>{% block title %}Page Title{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% block meta-description %}{% endblock %}" />
		{% render_block "css" %}
	</head>

{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.css" type="text/css" media="screen" />{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" media="screen" />{% endaddtoblock %}

<body class="preload">
	{% cms_toolbar %}
	<article id="wrap" {% if framework == 'angular_bootstrap3' %}ng-app="myApp"{% endif %}>
		{% block sections %}{% endblock %}
	</article>
	<footer id="footer">
		<div class="container">
			<p class="text-muted">Place sticky footer content here.</p>
		</div>
	</footer>
	{% render_block "js" %}
</body>

</html>
