/*
form .form-row { border-bottom: 1px solid #f3f3f3; padding: 8px 0; }
form .form-row .form-row { border-bottom: none; }
form .form-row:after { content: "."; clear: both; display: block; visibility: hidden; height: 0px; }
form .form-row:last-child { border-bottom: none; }
form .form-row h1 { clear: both; margin: 0 0 4px; font-size: 120%; }
form .form-row label { width: inherit; padding-left: 10px; }
form .form-row label.inline { height: 20px; }
form .form-row small { margin-left: 0; }
form .form-row .disabled { color: #aaa; }
form .form-row ul { margin-left: 0; padding-left: 0; }
form .form-row ul li { list-style: none; float: left; min-width: 95px; }
form .form-row ul.errorlist li { float: none; }
*/
form .form-row div.sibling-field { float: left;  margin-left: 20px; width: 8em; }
form .form-row div.sibling-field:first-child { margin-left: 0; }
form .form-row div.sibling-field label { padding-left: 5px; }
/*form .form-row div.sibling-field.inherit { margin-left: 60px; }*/
.form-row div.sibling-field input[type="text"], .form-row div.sibling-field input[type="color"] { display: block; width: 7.5em; margin: 0; }
/*
form .form-row h4 { margin-top: 10px !important; margin-bottom: 10px !important; }
form .form-row input[type="radio"], form .form-row input[type="checkbox"] { margin: 0 4px 0 0; display: inline-block; width: 2em; }
form .glossary-field { float: left; margin-right: 10px; }
form .glossary-box { zoom:1; }
form .glossary-box:after { content: ""; display: table; clear: both; }
form .glossary-field.glossary_content { width: 100%; }
form .aligned label[for="id_css_classes_0"] { display: none; }
form .aligned label[for="id_inline_styles_0"] { display: none; }
*/