// include this file when using a static footer
@import "variables";

html {
	position: relative;
	min-height: 100%;
}

body {
//	margin-bottom: $body-footer-height;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
//	height: $body-footer-height;
//	color: $body-footer-color;
//	background: $body-footer-bg;
	padding-top: 20px;
	padding-bottom: 20px;
}
