@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints.scss";

// footer
$body-footer-height: 200px;
$body-footer-color: $yiq-text-light;
$body-footer-bg: $dark;
