{% load cms_tags menu_tags sekizai_tags %}

<!doctype html>
<html lang="de">
	<head>
		<title>{% block title %}Page Title{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="{% block meta-description %}{% endblock %}" />
		<link href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" rel="stylesheet">
		<link href="//cdnjs.cloudflare.com/ajax/libs/960gs/0/960.min.css" rel="stylesheet">
		{% render_block "css" %}
	</head>

	<body>
		{% cms_toolbar %}
		<div id="wrap">
			<div id="header">
				<div class="container_12 clearfix">
					<div class="grid_4">
						<h1><a href="/">960.gs Sample</a></h1>
					</div>
					<div class="grid_8">
						<div id="nav">
							<ul>{% show_menu %}</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="content">
			{% placeholder "Page Content" or %}Add a 960.gs container here.{% endplaceholder %}
			</div>
		</div>
		<div id="footer">
			<div class="container_12">
				<div "grid_12">
					<p>Place sticky footer content here.</p>
				</div>
			</div>
		</div>
		{% render_block "js" %}
	</body>
</html>

{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" media="screen" />{% endaddtoblock %}

{% addtoblock "js" %}<script src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>{% endaddtoblock %}
